<html>
<head>
	<link href="css/style.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
<p>This is the content, text after this is not part of the template:</p>
<%= content %>
</body>
</html>
